certs/
catalog-scripts
node_modules/
coverage/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
_CHANGELOG.md

# Local History for Visual Studio Code
# .history/
cartridges/*/cartridge/static/*/css/*
cartridges/*/cartridge/static/*/js/*
cartridges/brands/*/cartridge/static/*/css/*
cartridges/brands/*/cartridge/static/*/js/*
dependencies/*/cartridge/static/*/css/*
dependencies/*/cartridge/static/*/js/*
dependencies/*/cartridges/*/cartridge/static/*/css/*
dependencies/*/cartridges/*/cartridge/static/*/js/*
features/*/cartridges/*/cartridge/static/*/css/*
features/*/cartridges/*/cartridge/static/*/js/*
cartridges/*/cartridge/static/*/js/**/*.js
!cartridges/*/cartridge/static/*/js/onetrust/**/*
cartridges/*/cartridge/static/*/assets/styles/*
!cartridges/*/cartridge/static/*/js/vendor/
npm-debug.log

dw.json
dw.*.json
.DS_Store
tmp/
*.zip
build.properties
build.log
debug.log
package-lock.json
yarn-error.log

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/sfcc-settings.xml

cert.p12

clean-brands.sh
.env
connections-source.json

webdav
ocapi-settings
